<div class="container">
    <div class="col-md-12 col-md-offset-4">
    <h2>Download Youtube Video</h2>
        <form class="navbar-form navbar-left" role="search" method="POST" action="/">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v=l07cwNvZni8" name="youtube">
            </div>
            <button type="submit" class="btn btn-info">Cari</button>
        </form>    
    </div>
</div>
